.text{
    background-color: #808080;
    border-color: #808080;
    border-radius: 0.4em;
    position:relative;
    top:600px;
    left:90px;
}

.button{
    background-color: #66cdaa;
    border-color: #66cdaa;
    border-radius: 0.4em;
    position:relative;
    top:600px;
    left:90px;
}