/*----------全体----------*/
body {
    margin: 0;
    min-height: 100vh;
    background-color: #313131;
    overflow: hidden;
}
p {
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
    border: none;
}
.main-content{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------メインコメント--------*/
.rplychat{
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* 縦方向の配置 */
    align-items: center;
    overflow: auto;

}
.chat-comment{
    width: 80%;
    padding: 5px;
    margin: 5px;
    background-color: #494949;
}
.account{
    display: flex;
    align-items: center;
}
.account a{
    display: block;
}
.account-image{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形の形状を作成 */
    overflow: hidden; /* 画像が円内に収まるようにする */
    border: 3px solid #06c286;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    height: 100%;
    width: 100%;
    display: flex;
}

.account-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* アスペクト比を保ちつつコンテナをカバーする */
}
.rply{
    display: flex;
    justify-content: flex-end;
}
.balloon3-left {
    position: relative;
    display: inline-block;
    margin: 0px 10px 1px 7px;
    padding: 0 4px;
    width: 30px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    background: #06c286;
    border-radius: 30%;
    box-sizing: border-box;
}
.balloon3-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6.5px;
    margin-top: -3px;
    border: 3px solid transparent;
    border-right: 5px solid #06c286;
    z-index: 0;
}

/*--------リプライ欄---------*/
.rply-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rply-comment{
    width: 70%;
    position: relative;
    min-height: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #494949;
}
.rplyaccount{
    display: flex;
    align-items: center;
}
.rplyaccount a{
    display: block;
}
.rplyaccount-image{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形の形状を作成 */
    overflow: hidden; /* 画像が円内に収まるようにする */
    border: 2px solid #06c286;
}
/*-----入力フォーム------*/

.send {
    display: flex;
    border: 3px solid #06c286;
    border-radius: 15px; /* 丸みを帯びた縁を設定 */
    position: absolute; /* 絶対配置 */
    bottom: 0; /* 下端に配置 */
    width: 90%;
    justify-content: space-between; /* 左右に均等にスペースを配置 */
    align-items: center; /* 上下中央に配置 */
}

.text-box {
    display: flex;
    align-items: center;
    width:100%; /* ボタンを除いた幅 */
    background-color: transparent; /* 背景色を透明に */
    padding: 5px; /* 内側に余白を追加 */
}

.chat-text {
    flex-grow: 1;
    height: 40px; /* 高さを固定 */
    outline: none;
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明に */
    color: #FFFFFF; /* テキストの色を白に */
    padding-left: 10px; /* テキストのインデント */
}

.send-button, .send-file {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px; /* ボタンに余白を追加 */
}

.send-button img, .send-file img {
    width: 20px;
    height: 20px;
}
