/*----------全体----------*/
body {
    margin: 0;
    min-height: 100vh;
    background-color: #313131;
    overflow: hidden;
}
p {
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
    border: none;
}
.main-content{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------メインコメント--------*/
.rplychat{
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* 縦方向の配置 */
    align-items: center;
    overflow: auto;

}

.chat-comment{
    width: 80%;
    padding: 10px 10px 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #494949;
}

.chat-comment-img img {
    height: 300px;
    object-fit: cover;
}

.account{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.account a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.account .circle {
    margin-right: 5px;
}

.rply{
    display: flex;
    justify-content: flex-end;
}

.balloon3-left {
    position: relative;
    display: inline-block;
    margin: 0px 10px 1px 7px;
    padding: 0 4px;
    width: 30px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    background: #06c286;
    border-radius: 30%;
    box-sizing: border-box;
}
.balloon3-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6.5px;
    margin-top: -3px;
    border: 3px solid transparent;
    border-right: 5px solid #06c286;
    z-index: 0;
}

/*--------リプライ欄---------*/
.rply-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rply-comment{
    width: 70%;
    position: relative;
    min-height: 100px;
    padding: 10px 10px 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #494949;
}

.linkrply-atag img {
    height: 200px;
    object-fit: cover;
}

.rplyaccount{
    display: flex;
    align-items: center;
}
.rplyaccount a{
    display: block;
}
.rplyaccount-image{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形の形状を作成 */
    overflow: hidden; /* 画像が円内に収まるようにする */
    border: 2px solid #06c286;
}

/*-----入力フォーム------*/
.text-box {
    display: flex;
    align-items: center;
    width:100%; /* サイドバーを除いた幅 */
}

#file-preview-container {
    display: none; /* 初期状態で非表示 */
    align-items: center;
    border: none;
    margin-left: 7%;
    display: flex;
}

#file-preview {
    display: none;
    padding: 10px 0 10px 0;
    max-width: 500px;
    height: 25vh;
    margin-right: 10px;
    position: absolute;
    bottom: 47px;
}

#file-name {
    display: none;
}

#delete-button {
    width: 30px;
    height: 30px;
    cursor: pointer; /* ポインターの変更 */
    display: none; /* 初期状態では非表示 */
    position: absolute;
    bottom: 56px;
    right: 9%;
}

.send {
    display: flex;
    border: 3px solid #06c286;
    border-radius: 15px; /* 丸みを帯びた縁を設定 */
    background-color: #313131;
    position: absolute; /* 絶対配置 */
    left: 7%;
    bottom: 0; /* 下端に配置 */
    width: 85%;
    align-items: center; /* 上下中央に配置 */
}

.chat-text {
    flex-grow: 1;
    height: 40px; /* 高さを固定 */
    outline: none;
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明に */
    color: #FFFFFF; /* テキストの色を白に */
    padding-left: 10px; /* テキストのインデント */
}

.send-button, .file-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px; /* ボタンに余白を追加 */
}

.send-button img, .send-file img {
    width: 20px;
    height: 20px;
}