/*----------全体----------*/
body {
    margin: 0;
    min-height: 100vh;
    background-color: #313131;
}
p {
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
    border: none;
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------メインコメント--------*/
.chat-comment{
    position: relative;
    width: 80%;
    min-height: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #494949;
}
.account{
    display: flex;
    align-items: center;
}
.account a{
    display: block;
}
.account-image{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形の形状を作成 */
    overflow: hidden; /* 画像が円内に収まるようにする */
    border: 2px solid #06c286;
}
/*--------入力フォーム--------*/
.send {
    display: flex;
    border: 3px solid #06c286;
    border-radius: 15px; /* 丸みを帯びた縁を設定 */
    bottom: 0; /* 下端に配置 */
    left: 2px;
    width: 80%;
    justify-content: space-between; /* 左右に均等にスペースを配置 */
    align-items: center; /* 上下中央に配置 */
}

.text-box {
    display: flex;
    align-items: center;
    width:100%; /* ボタンを除いた幅 */
    background-color: transparent; /* 背景色を透明に */
    padding: 5px; /* 内側に余白を追加 */
}

.chat-text {
    flex-grow: 1;
    height: 40px; /* 高さを固定 */
    outline: none;
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明に */
    color: #FFFFFF; /* テキストの色を白に */
    padding-left: 10px; /* テキストのインデント */
}

.send-button, .send-file {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px; /* ボタンに余白を追加 */
}

.send-button img, .send-file img {
    width: 20px;
    height: 20px;
}
/*-------------------------*/
.rply-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rply-comment{
    position: relative;
    width: 75%;
    min-height: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #494949;
}
.rplyaccount{
    display: flex;
    align-items: center;
}
.rplyaccount a{
    display: block;
}
.rplyaccount-image{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形の形状を作成 */
    overflow: hidden; /* 画像が円内に収まるようにする */
    border: 2px solid #06c286;
}