*:not(.hearder) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categorylist {
    display: flex;
    justify-content: space-between; /* 要素間の等間隔配置 */
    align-items: center; /* 垂直方向の中央揃え */
    padding: 10px 0; /* 上下の余白 */
}

/* カテゴリーリスト内の各要素（p要素）のスタイル */
.categorylist p {
    font-size: 16px; /* フォントサイズの変更 */
    margin: 0; /* デフォルトのマージンを削除 */
    padding: 0 5px; /* 左右の余白 */
    position: relative; /* 相対位置指定 */
}

/* 区切り線のスタイル */
.categorylist p:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px; /* 右側に配置 */
    border-right: 1px solid #ccc; /* 縦の区切り線 */
}

main {
    background-color : #313131;
}