*:not(.header) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    height: all;
    width: auto;
}

.categorylist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #5e5d5d;
    position: relative;
}

.categorylist a {
    font-size: 16px;
    margin: 0;
    padding: 0 10px; /* 左右の余白を適切に調整 */
    text-decoration: none;
    color: #fff;
    position: relative;
}

.categorylist a:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0; /* 中央に配置 */
    bottom: 0; /* 中央に配置 */
    right: -5px;
    width: 1px; /* 線の幅を指定 */
    background-color: #ccc; /* 線の色 */
    margin: auto 0; /* 水平方向の中央配置 */
}

main {
    background-color: #313131;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 子要素を左右に配置 */
    margin: 20px 0; /* 上下のマージンを追加 */
}

.post-question {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #313131;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 150px; /* ボタンと検索フォームの間のスペース */
}

.post-search {
    display: flex;
    align-items: center;
    position: relative; /* 相対位置を使用して子要素を配置 */
}

.post-search-input {
    width: 500px;
    height: 50px; /* 高さを固定 */
    justify-content: center;
    align-items: center;
    border: 3px solid #06c286;
    border-radius: 15px; /* 丸みを帯びた縁を設定 */
    background-color: transparent; /* 背景色を透明に */
    color: #FFFFFF; /* テキストの色を白に */
    font-size: 12pt;
    padding-left: 10px; /* テキストのインデント */
}

.post-search-button {
    position: absolute; /* 絶対位置で配置 */
    right: 15px; /* 検索ボタンの右端からの距離 */
    top: 50%; /* 垂直方向の中央に配置 */
    transform: translateY(-50%); /* 縦中央に位置調整 */
    background-color: transparent;
    border: none;
    border-radius: 50%; /* 円形にする */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.post-search-button img {
    width: 100%;
    height: 100%;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: #ccc;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.question .profile {
    display: flex;
    align-items: center; /* nicknameを水平方向に中央揃えにする */
    margin-bottom: 15px; /* profileとtiteleの間隔 */
    padding-bottom: 5px; /* アンダーラインの余白 */
}

.profile .circle {
    margin-right: 15px; /* circleとnicknameの間隔 */
}
.profile .nickname {
    font-size: 17px;
}

.questionLink {
    text-decoration: none;
}

.questionLink:visited {
    color: #ccc;
}

.questionLink:hover {
    color: #06c286;
    text-decoration: underline;
}

.questionTitle {
    font-size: 17px; /* titeleのフォントサイズ */
    font-weight: bold;
    margin-bottom: 5px; /* titeleとquestion-textの間隔 */
}

.questionText {
    margin-left: 60px; /* profileの幅＋マージン */
}

.actions {
    margin-left: auto; /* actionsを右端に配置 */
}

.question .actions button {
    background: none;
    border: none;
    color: #4caf50;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* ぺジネーションのスタイル */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-links {
    display: flex;
}

.pagination-link {
    color: #333;
    background-color: #f5f5f5;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 4px;
    cursor: pointer;
}

.pagination-link.active {
    background-color: #06c286;
    color: #fff;
    border-color: #06c286;
}