#file-preview-container {
    display: flex;
    align-items: center;
    margin-left: 10px; /* テキストボックスとの間にスペースを追加 */
}

#file-preview {
    width: 40px; /* プレビュー画像の幅を調整 */
    height: 40px; /* プレビュー画像の高さを調整 */
    object-fit: cover; /* 画像をアイコンに合わせてカバー */
    display: none; /* 初期状態では非表示 */
}

#file-name {
    color:white;
    margin-left: 10px;
    font-size: 12px;
}

#delete-button {
    width: 20px; /* 画像の幅を20pxに設定 */
    height: 20px; /* 画像の高さを20pxに設定 */
    cursor: pointer; /* ポインターの変更 */
    display: none; /* 初期状態では非表示 */
    margin-left: 5px;
}

body {
    background-color: #313131;
}

h2{
    color:white;
    text-align: center;
    border-bottom: solid 3px white;
}

/* 固定フッターのスタイル */
.Cfunction {
    position: fixed;
    bottom: 0;
    width: 70%;
    padding: 10px; /* 必要に応じてパディングを設定 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 上部に影を追加 */
    display: flex;
    align-items: center;
}

.text {
    flex-grow: 1;
    margin-right: 5px; /* ボタンとの間にスペースを追加 */
    padding: 10px;
    border-radius: 5px;
    background-color: #808080;
    border-color: #808080;
    width: 400px;
    height:20px;
    resize: vertical; /* 垂直方向にのみリサイズ可能にする */
    word-wrap: break-word; /* 長い単語やURLなどで改行する */
    overflow-wrap: break-word; /* テキスト内で改行する */
}

.button {
    background-color: transparent;
    border: none;
}

.button img {
    width: 20px; /* アイコンのサイズ */
    height: 20px;
}

.upload-icon img{
    width: 20px; /* アイコンのサイズ */
    height: 20px;
}

.my {
    color:white;
    text-align: right;
    margin: 5% 0 0 20%; /* 左側のマージンを20%に設定 */
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}

.partner {
    color:white;
    text-align: left;
    margin: 0 20% 0 0; 
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}

.chat-all{
    display: flex;
    height: 100vh; /* 画面の高さ全体を使用 */
}

.chat-history{
    flex: 7; /* 全体の70%を使用 */
    display: flex;
    flex-direction: column; 
}

.space{
    flex: 3; /* 全体の30%を使用 */
    background-color: #575757; /* 背景色を設定 */
}

.friend{
    color:white;
    margin:20px;
}