body {
    background-color: #2c2c2c;
}

h2 {
    color: white;
    text-align: center;
    border-bottom: solid 3px white;
}

p{
    color:white;
}

.chat-all {
    display: flex;
    height: calc(100vh - 70px);
}

.chat-content {
    flex: 7; /* 全体の70%を使用 */
    display: flex;
    flex-direction: column;
}

.chat-history {
    flex: 1; /* 残りのスペースをすべて使用 */
    display: flex;
    padding: 0 10px;
    flex-direction: column; 
    overflow-y: auto; /* 垂直方向のスクロールバーを有効 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-history::-webkit-scrollbar {
    display: none;
}

.chat-form {
    align-items: center;
    padding: 10px;
}

.Cfunction {
    display: flex;
    align-items: center;
}

.Cfunction input.text {
    padding: 10px;
    margin-right: 10px;
}

.Cfunction button.upload-icon,
.Cfunction button.button {
    background: none;
    border: none;
    cursor: pointer;
}

#file-preview-container {
    display: none; /* 初期状態で非表示 */
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

#file-preview-container img#delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#file-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

#file-name {
    font-size: 14px;
    color: white;
}

#delete-button {
    width: 20px; /* 画像の幅を20pxに設定 */
    height: 20px; /* 画像の高さを20pxに設定 */
    cursor: pointer; /* ポインターの変更 */
    display: none; /* 初期状態では非表示 */
    margin-left: 5px;
}

.text {
    flex-grow: 1;
    margin-right: 5px; /* ボタンとの間にスペースを追加 */
    padding: 10px;
    border-radius: 5px;
    background-color: #808080;
    border-color: #808080;
    width: 350px;
    height: 20px;
    resize: vertical; /* 垂直方向にのみリサイズ可能にする */
    word-wrap: break-word; /* 長い単語やURLなどで改行する */
    overflow-wrap: break-word; /* テキスト内で改行する */
}

.button {
    background-color: transparent;
    border: none;
}

.button img {
    width: 20px; /* アイコンのサイズ */
    height: 20px;
}

.upload-icon img {
    width: 20px; /* アイコンのサイズ */
    height: 20px;
    margin-right: 10px; /* 右側に隙間を追加 */
}

.appendimg img {
    object-fit: cover;
    height: 100px;
}

.my {
    color: white;
    text-align: right;
    margin: 5% 0 0 20%; /* 左側のマージンを20%に設定 */
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}

.partner {
    color: white;
    text-align: left;
    margin: 0 20% 0 0;
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}

.space {
    flex: 3; /* 全体の30%を使用 */
    background-color: #575757; /* 背景色を設定 */
}

.friend {
    color: white;
    margin: 20px;
}
