body {
    background-color: #2c2c2c;
}

.chat-all {
    display: flex;
    height: calc(100vh - 70px);
}

.chat-content {
    flex: 7; /* 全体の70%を使用 */
    display: flex;
    flex-direction: column;
}

/* チャット履歴 */
.chat-history {
    flex: 1; /* 残りのスペースをすべて使用 */
    display: flex;
    padding: 0 10px;
    flex-direction: column; 
    overflow-y: auto; /* 垂直方向のスクロールバーを有効 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-history::-webkit-scrollbar {
    display: none;
}

.chat-history p{
    color:white;
}

.my {
    color: white;
    text-align: right;
    margin: 10px 0 10px 55%; /* 左側のマージンを20%に設定 */
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 全ての子要素を右寄せにする */
}


.partner {
    color: white;
    text-align: left;
    margin: 10px 55% 10px 0;
    padding: 10px;
    background-color: #3B3B3B;
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center; /* nicknameを水平方向に中央揃えにする */
    margin-bottom: 10px;
}

.user a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.user a:hover {
    text-decoration: underline;
}

.partner .user .circle {
    margin-right: 15px; /* circleとnicknameの間隔 */
}

.user .nickname {
    font-size: 17px;
}

.my .user .nickname {
    margin-right: 15px; /* circleとnicknameの間隔 */
}

.appendimg {
    margin: 15px 0 0 15px;
}

.appendimg img {
    object-fit: cover;
    height: 200px;
}

/* 送信フォーム */
.chat-form {
    align-items: center;
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
}

.Cfunction {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #06c286;
}

.Cfunction .Cfunctionbtn {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Cfunction input.text {
    height: 50px;
    padding: 10px;
    margin-right: 10px;
}

.Cfunction button.upload-icon,
.Cfunction button.button {
    background: none;
    border: none;
    cursor: pointer;
}

#file-preview-container {
    display: none; /* 初期状態で非表示 */
    align-items: center;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    position: relative;
}

#file-preview-container img#delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#file-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

#file-name {
    font-size: 14px;
    color: white;
}

#delete-button {
    width: 30px; /* 画像の幅を20pxに設定 */
    height: 30px; /* 画像の高さを20pxに設定 */
    cursor: pointer; /* ポインターの変更 */
    display: none; /* 初期状態では非表示 */
    margin-left: 5px;
}

.text {
    flex-grow: 1;
    margin-right: 5px; /* ボタンとの間にスペースを追加 */
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 12.5pt;
    width: 350px;
    height: 20px;
    resize: vertical; /* 垂直方向にのみリサイズ可能にする */
    word-wrap: break-word; /* 長い単語やURLなどで改行する */
    overflow-wrap: break-word; /* テキスト内で改行する */
}

.button {
    background-color: transparent;
    border: none;
}

.button img {
    width: 25px; /* アイコンのサイズ */
    height: 25px;
}

.upload-icon img {
    width: 25px; /* アイコンのサイズ */
    height: 25px;
    margin-right: 10px; /* 右側に隙間を追加 */
}

/* 知り合い一覧 */
.space {
    width: 400px;
    background-color: #575757;
}

@media (max-width: 1100px) {
    .space {
        display: none;
    }
}

.space h2 {
    color: white;
    text-align: center;
    border-bottom: solid 3px white;
}

.space-list {
    align-items: center;
}

.profile {
    display: flex;
    align-items: center; /* nicknameを水平方向に中央揃えにする */
    margin: 15px;
}

.profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.profile a:hover {
    text-decoration: underline;
}

.profile .circle {
    margin-right: 15px; /* circleとnicknameの間隔 */
}

.profile .nickname {
    font-size: 17px;
}

.nofriend {
    color: #ffffff;
    margin: 15px;
}