body{
    background-color: #3b3b3b;
}

.in-container{
    text-align: center;
    margin-top: 50px;
}

.in-title{
    color:#06c286;
}

.in-mailid,
.in-pass{
    color: white;
    margin: 30px auto;
}

.in-link{
    color: #87CEFA;
    text-decoration: none;
    margin: 30px auto;
}

.in-button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin:20px auto;
    padding: 5px;
    border: 1px solid #06C286;
    border-radius: 5px;
    background-color: #06C286;
    color: white;
    font-size: 1em;
}

.in-input{
    width: 300px;
    padding: 5px;
}

.in-error{
    color: red;
    margin-bottom: 15px;
    font-size: 15px;
}